.Archive {
  display: grid;
  margin-top: var(--base-size-24);
  grid:
    'heading     '
    'activityList'/
    1fr;

  @media screen and (min-width: 768px) {
    grid:
      'heading       yearList'
      'activityList  yearList'/
      1fr 165px;
  }
}

.Timeline {
  padding-bottom: var(--base-size-24);
}

.Heading {
  grid-area: heading;
  margin-bottom: var(--base-size-16);
  font-size: var(--text-title-size-small);
  font-weight: var(--base-text-weight-normal);
}

.ActivityList {
  grid-area: activityList;
}

.YearList {
  grid-area: yearList;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: var(--base-size-24);
    padding-left: var(--base-size-16);
    padding-right: var(--base-size-16);
  }
}

.YearListItem {
  margin-bottom: var(--base-size-8);
  border-radius: var(--borderRadius-medium);
  font-size: var(--text-body-size-small);
}
