.GridBox {
  margin-top: var(--base-size-24);
  display: grid;
  grid:
    'heading     '
    'activityList'/
    1fr;

  @media screen and (min-width: 768px) {
    grid:
      'heading       yearList'
      'activityList  yearList'/
      1fr 165px;
  }
}

.TimelinePost {
  padding: var(--base-size-16);
}
