.SVGContainer {
  overflow: auto;
  text-align: center;
  direction: rtl;
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  padding-top: var(--base-size-16);
  padding-bottom: calc(var(--base-size-16) * 3 / 4);
  color: var(--fgColor-muted);

  & > svg {
    vertical-align: middle;
  }
}

.CalendarContainer {
  margin-top: var(--base-size-24);
}

.Heading {
  margin-bottom: var(--base-size-8);
  font-size: var(--text-body-size-large, --text-title-size-small);
  font-weight: var(--base-text-weight-normal);
}
