.RepoList {
  margin-top: 0;
  padding-left: 0;
}

.RepoListItem {
  list-style: none;
  padding-top: var(--base-size-24);
  padding-bottom: var(--base-size-24);
  border-bottom-color: var(--borderColor-muted);
  border-bottom-width: var(--borderWidth-thin);
  border-bottom-style: solid;
}

/**
 * 
 
 const StyledRepoListItem = styled.li`
  list-style: none;
  padding-top: ${themeGet('space.4')};
  padding-bottom: ${themeGet('space.4')};
  border-bottom-color: ${themeGet('colors.border.muted')};
  border-bottom-width: ${themeGet('borderWidths.1')};
  border-bottom-style: solid;
`;

export const RepoMeta = styled.p`
  margin-top: ${themeGet('space.2')};
  margin-bottom: 0;
  color: ${themeGet('colors.fg.muted')};
  font-size: ${themeGet('fontSizes.0')};
`;

export const Meta = styled.span`
  & + & {
    margin-left: ${themeGet('space.3')};
  }
`;

export const PrimaryLanguage = styled.span`
  margin-right: ${themeGet('space.3')};
`;

 */

.Header {
  display: inline-block;
  margin-bottom: var(--base-size-4);
  font-size: var(--text-body-size-medium);
}

.Heading {
  font-size: var(--text-title-size-medium);
}

.Label {
  margin-left: var(--base-size-4);
  margin-bottom: var(--base-size-4);
  font-weight: var(--base-text-weight-normal);
  vertical-align: middle;
}

.Forked {
  margin-bottom: var(--base-size-4);
  color: var(--fgColor-muted);
  font-size: var(--text-body-size-small);
}

.Description {
  display: inline-block;
  margin-bottom: var(--base-size-8);
  margin-top: 0;
  font-size: var(--text-body-size-medium);
  color: var(--fgColor-muted);
  max-width: 70%;
}

.LicenseName {
  margin-left: var(--base-size-4);
}
